// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

::-webkit-scrollbar {
    width: 0px;
}

.v-app-bar {
    background-color: #3a9dca !important;
    border-color: #3a9dca !important;
}

.v-main{
    // background-color: #f1f2f6 !important;
}

.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: #4b6584 !important;
}

// #main-app .v-list-item--active{
//     background-color: #3a9cca98;
// }

#main-app .theme--light.v-list {
    color: #4b6584 !important;
}

#main-app .menu-icon .v-icon.v-icon{
    font-size: 26px !important;
}

#main-app .v-sheet.v-card {
    background-color: '#3a9dca' !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

#main-app.v-application .cyan.darken-2 {
    background-color: #3a9dca !important;
    border-color: #3a9dca !important;
}

// ===============user================
#user .table-card{
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th{
    font-size: 0.8rem;
}

#user .table-card .v-icon.v-icon{
    font-size: 18px !important;
}

#user .v-chip.v-size--small{
    height: 18px;
    padding: 5px;
}

.user-name{
    font-size: 13px;
}

.v-input .v-label {
    font-size: 14px !important;
}

.user-form .v-text-field{
    padding-top: 5px !important;
}

.user-form-dialog{
    cursor: move;
}

.btn-remove-phoneNum{
    position: absolute;
    margin-top: -50px;
    margin-left: 19rem;
}

.btn-remove-phoneNum .v-btn--fab.v-size--x-small{
    height: 17px !important;
    width: 17px !important;
}

.btn-add-phoneNum{
    position: absolute !important;
    margin-left: -30px;
    margin-top: 13px;
    height: 17px !important;
    width: 17px !important;
}

.user-phone-number{
    height: 18px !important;
    font-size: 14px !important;
}

.v-file-input__text{
    font-size: 13px;
}

// ===============employee============
#employee .table-card{
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

#employee .v-chip.v-size--small {
    border-radius: 10px;
    font-size: 11px;
    height: 20px;
}

.employee-name{
    font-size: 90%;
}

.start-date{
    font-size: 12px !important;
}

.card-action{
    border-top: 1.5px groove #ffffff73;
}

.icon-add-phone{
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
}

.gender-chip{
    border-radius: 5px !important;
    height: 16px !important;
    padding: 0 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

// -----------------absnet-------------------------
#absent .table-card{
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.absent-day-chip{
    height: 18px !important;
    padding: 0 8px !important;
}

#absent .v-data-table > .v-data-table__wrapper > table > tbody > tr > td{
    height: 42px !important;
}

.absent-employee-name{
    font-size: 13px !important;
    color: #585858 !important;
}

// --------------------
#report .v-card {
    // padding: 30px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.alert-report-message{
    font-size: 0.8rem !important;
}

#report .v-alert__icon.v-icon{
    font-size: 25px;
}

#report .v-alert--prominent .v-alert__icon{
    height: 28px;
    min-width: 28px;
}

.count-absent-chip{
    padding: 0 5px !important;
}
