@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
::-webkit-scrollbar {
  width: 0px;
}

.v-app-bar {
  background-color: #3a9dca !important;
  border-color: #3a9dca !important;
}

.v-main {
  background-color: #f1f2f6 !important;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: #f1f2f6 !important;
}

.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: #4b6584 !important;
}

.txt-search {
  margin-top: -19px !important;
}

#main-app .theme--light.v-list {
  color: #4b6584 !important;
}

#main-app .menu-icon .v-icon.v-icon {
  font-size: 26px !important;
}

#main-app .v-sheet.v-card {
  background-color: "#3a9dca" !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

#main-app.v-application .cyan.darken-2 {
  background-color: #3a9dca !important;
  border-color: #3a9dca !important;
}

#dashboard .widget-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#dashboard .widget-card h1 {
  font-family: "Roboto", sans-serif;
}

#dashboard .widget-card h2 {
  font-family: "Roboto", sans-serif;
}

.dashboard-card .v-icon {
  -webkit-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.25));
}

#dashboard .v-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#dashboard .v-card h4, h2 {
  font-weight: 500;
}

.v-skeleton-loader__card-heading .v-skeleton-loader__heading {
  margin: 0px !important;
}

.v-skeleton-loader--is-loading {
  float: right;
}

.v-skeleton-loader__table-heading {
  padding: 0 !important;
}

.v-skeleton-loader__list-item-three-line {
  margin-top: -20px;
}

.v-skeleton-loader__paragraph {
  margin-top: 20px;
}

#user .table-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
  font-size: 0.8rem;
  background-color: #f1f2f6;
  height: 40px;
  border-top: 1.5px solid #cfcfcfcc;
}

#user .table-card .v-icon.v-icon {
  font-size: 18px !important;
}

#user .v-chip.v-size--small {
  height: 18px;
  padding: 5px;
}

#user .role-chip {
  font-size: 12px;
  height: 22px !important;
}

.user-name {
  font-size: 13px;
}

.v-input .v-label {
  font-size: 14px !important;
}

.user-form .v-text-field {
  padding-top: 5px !important;
}

.user-form-dialog {
  cursor: move;
}

.btn-remove-phoneNum {
  position: absolute;
  margin-top: -50px;
  margin-left: 19rem;
}

.btn-remove-phoneNum .v-btn--fab.v-size--x-small {
  height: 17px !important;
  width: 17px !important;
}

.btn-add-phoneNum {
  position: absolute !important;
  margin-left: -30px;
  margin-top: 13px;
  height: 17px !important;
  width: 17px !important;
}

.user-phone-number {
  height: 18px !important;
  font-size: 14px !important;
}

.v-file-input__text {
  font-size: 13px;
}

#employee .table-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#employee .v-chip.v-size--small {
  border-radius: 10px;
  font-size: 11px;
  height: 20px;
}

.employee-radio {
  margin-top: 0px !important;
}

.employee-name {
  font-size: 90%;
}

.start-date {
  font-size: 12px !important;
}

.card-action {
  border-top: 1.5px groove #ffffff73;
}

.icon-add-phone {
  position: absolute;
  margin-left: -20px;
  margin-top: 20px;
}

.gender-chip {
  height: 16px !important;
  padding: 0 5px !important;
}

#absent .table-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.absent-day-chip {
  height: 18px !important;
  padding: 0 8px !important;
}

#absent .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  height: 42px !important;
}

.absent-employee-name {
  font-size: 13px !important;
  color: #585858 !important;
}

#report .v-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.alert-report-message {
  font-size: 0.8rem !important;
}

#report .v-alert__icon.v-icon {
  font-size: 25px;
}

#report .v-alert--prominent .v-alert__icon {
  height: 28px;
  min-width: 28px;
}

.count-absent-chip {
  padding: 0 5px !important;
}

.vue-html2pdf .pdf-preview button[data-v-1fd3ad26] {
  background-color: #3f51b5 !important;
}

#pdf-content {
  margin: 30px;
  font-family: "Roboto", sans-serif;
}

#pdf-content thead {
  background-color: #3a9dca;
}

#pdf-content thead th {
  background-color: #3a9dca;
  color: rgba(255, 255, 255, 0.89);
  text-align: left;
  border: none;
}

#pdf-content .title-hearder {
  padding: 20px 0;
  color: #3a9dca;
}

#pdf-content .title-hearder .v-icon {
  color: #3a9dca;
}

#pdf-content .count-absent-employee {
  margin-left: 5px;
  color: #cf0909;
}

#pdf-content .empoyee-name {
  font-size: 14px;
}

#pdf-content .report-date {
  font-size: 12px;
  padding: 5px 0;
}

#pdf-content .report-date-time {
  text-align: right;
  padding: 5px 0;
  font-size: 14px;
  color: #424242;
}

#pdf-content .report-date-time .v-icon {
  color: #424242;
}

#pdf-content .border-bottom {
  border-bottom: 1px solid rgba(196, 196, 196, 0.932);
}

#pdf-content .count-absent-chip-report {
  color: #cf0909;
  padding: 0 5px !important;
  font-size: 13px !important;
}

.employee-name-report {
  font-weight: 500;
}

#account .theme--light.v-tabs > .v-tabs-bar {
  background-color: transparent;
}

#account .theme--light.v-tabs-items {
  background-color: transparent;
}

#account .theme--light.v-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#account-setting .profile-img .v-input__icon {
  position: absolute;
  margin-top: -40px;
  margin-left: 55px;
}

#account-setting .profile-img .v-icon {
  background-color: #f1f2f6;
  font-size: 18px;
  padding: 3px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
